/* styles.css */
body {
    font-family: Arial, sans-serif;
}

a {
    font-size: 1.5vw;
}

h1 {
    font-size: 3vw;
}

p {
    font-size: 1.5vw;
}

.even-spaced-container {
    display: flex;
    justify-content: space-between;

}

.center {
    margin: 0 auto;
    width: 50%;
}

.center-text {
    text-align: center;
}

.flying-right {
    position: relative;
    top: 50%;
    /* left: 50%; */
    animation: moveAnimation 20s linear infinite;
}

@keyframes moveAnimation {
    0% {
        transform:  translateX(0);
    }
    25% {
        transform:  translateX(0);
    }
    75% {
        transform: translateX(150%);
    }
    75.001% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

/* media queries */
@media all and (orientation: portrait) {
    /* scale everything up for portrait mode */
    .center {
        margin: 0 auto;
        width: 80%;
    }
    a {
        font-size: 2.4vw;
    }

    h1 {
        font-size: 4.8vw;
    }

    p {
        font-size: 2.4vw;
    }
}

